#final {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  color: transparent;
  text-shadow: 0 0 0 teal;
  animation-duration: 0.3s;
  animation-name: wave;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

@keyframes wave {
   from {
     rotate: none;
   }

   50% {
     rotate: 15deg;
   }

   to {
     rotate: none; 
   }
}

