#guitar {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr);
  margin-top: 10px;
} 

.fretsymbol {
  font-size: 18px;
  padding: 0 10%;
  border-right: 5px solid FloralWhite;
  opacity: 0.1;
}

.fretsymbol p {
  background-color: blue;
  color: yellow;
  text-align: center;
}

.fret {
  background-color: black;
  border-right: 5px solid gold;
  color: white;
  opacity: 0.1;
}

.open {
  background-color: brown;
  border-right: 10px solid ivory;
  color: white;
} 

.available {
  opacity: 1;
}

.fret.available:hover {
  opacity: 0.7;
}

.fret.found, 
.fret.found:hover {
  background-color: green;
  transition: background-color 0.3s linear;
}

.fret.failed {
  background-color: red;
  transition: background-color 0.3s linear;
}

hr.high {
  border: none;
  background-color: silver;
  height: 1px;
}

hr.low {
  border: none;
  background-color: white;
  height: 2px;
}

