#level-settings {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  padding: 10px;
  background-color: FloralWhite;
}

#level-settings .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2ex;
  justify-content: space-around;
} 

#level-title {
  margin-bottom: 4ex;
  text-align: center;
  color: navy;
} 

.level-button {
  padding: 1ex;
  border: 1px solid navy;
  background-color: teal;
  color: FloralWhite;
  text-align: center;
}

.level-button:hover {
  background-color: FloralWhite;
  color: navy;
  cursor: pointer;
}
