#message {
  text-align: center;
  visibility: hidden;
  font-size: 40px;
  color: blue;
  opacity: 90%;
}

#message.fired {
  visibility: visible;
  opacity: 0%;
  transition: opacity 1.5s linear 0s;
}

