#meter {
  display: grid;
  grid-template-columns: 1fr minmax(2ch, 24ch) 8ch;
  align-items: start;
  justify-content: stretch;
  font-size: 18px;
}

#clock {
  justify-self: end; 
  padding: 0 1ch;
  background-color: blue;
  color: yellow;
  display: grid;
  grid-template-columns: 2ch 1ch 2ch;
  font-family: monospace; 
}

#level {
  direction: rtl;
}

