:root {
  --main-font-size: 48px;
  --space: 12px; /* main-font-size * 1/4 */
  --shift-staff-position: 6px; /* space * 1/2 */
  --current-staff-position: 0;
}

@font-face {
  font-family: "Bravura";
  src: url("../fonts/Bravura.woff") format("woff");
}

#music {
  position: relative;
  font-family: "Bravura";
  font-size: var(--main-font-size);
  
}

#staff {
  display: grid;
  grid-template-rows: repeat(13, var(--space));
}

.stave {
  width: 100%;
}

.leger {
  width: calc(var(--space) * 2);
  margin: auto;
  visibility: hidden;
}

.leger.visible {
  visibility: visible;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
}

#clef {
  position: absolute;
  top: calc(var(--space) * 2);
  left: 6px;
}

#note {
  position: absolute;
  top: calc(var(--shift-staff-position) * var(--current-staff-position));
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 50%;
  transform: translate(-50%);
  width: calc(var(--space) * 4);
}

#notehead {
  position: absolute;
  text-align: left;
  left: 50%;
  transform: translate(-50%);
}

.sharp::before {
  content: "\00e262";
}

.flat::before {
  content: "\00e260";
}

