#result {
  display: none;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  padding: 10px;
  background-color: FloralWhite;
  color: navy;
  text-align: center;
}

#result h2 {
  margin-bottom: 2ex;
  text-align: center;
}

#result p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  align-items: center;
}

#result p span {
  padding: 1ex;
  background-color: NavajoWhite;
  opacity: 0.9;
}

#result p span.label {
  border-right: 1px dashed navy;
}

#result #assessment {
  padding: 2ex;
  font-size: 120%;
  font-style: italic;
}
  
#result #control {
  margin-top: 2ex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2ex;
  justify-content: space-around;
}

#control .button {
  padding: 1ex;
  border: 1px solid navy;
  background-color: teal;
  color: FloralWhite;
  text-align: center;
}

#control .button:hover {
  background-color: FloralWhite;
  color: navy;
  cursor: pointer;
}

